.row{
    margin: 7em;
    display: flex;
    row-gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    


}

@media only screen and (max-width:800px){
    .row{
        flex-direction: column;
        column-gap: 1em;
    }
}